/* Styling for the main page */
.main-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
}

/* Styling for the horizontal scrolling container */
.horizontal-scroll {
  display: flex;
  gap: 20px;
  padding: 20px;
}


/* Styling for each card */
.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #F2F4F7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

